.page-bg{
  background-color: @page-bg;
}

.body-bg{
  background-color: @body-bg;
}

.header{

  &__inner{
    height: 260px;
    background-color: @header-bg;
    background-image: url(../img/images/header-bg.png);
    background-size: 100% 260px;
    overflow: hidden;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 45px;
    padding-bottom: 30px;
  }
  &__title{
    .Garamond-Bold;
    color: @header-text;
    font-size: 52px;
    line-height: 50px;
    margin-bottom: 35px;
    margin-top: 0;
  }
  &__person{
    .Alte-DIN-G;
    color: @header-text;
    font-size: 33px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__position{
    .Alte-DIN;
    color: @header-text;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 0px;
    margin-top: 5px;
  }
}