/***************************************************/
/* Set custom or change third-party Less variables */
/***************************************************/

/* Third party */
@fa-font-path:        "./fonts"; // Path to fonts in Font-Awesome

/* Colors */

@page-bg: #fdfdfd;
@content-bg: #ffffff;
@header-bg: #000759;
@header-text: #fff;
@text-title: #003366;
@subline: #cccccc;
@subline--footer: #83a6e1;
@text-text: #666666;
@text-link: #330099;
@resources-title: #8d8d8f;
@resources-border: #cccccc;
@resources-header-bg: #f4f4f4;
@resources-data: #3399cc;
@resources-btn-bg: #cc0e40;
@resources-btn-bg--hover: #b30028;
@resources-btn: #fff;
@body-shadow: rgba(0,0,0,.05);
@img-shadow: rgba(0,0,0,.2);
@img-border: #fff;
@footer-bg: #06214e;
@footer-text: #fff;
@bq: #b30028;