@font-face {
  font-family: 'Garamond-Bold';
  src: url('fonts/Garamond/GARABD.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond-Regular';
  src: url('fonts/Garamond/GARA.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond-Italic';
  src: url('fonts/Garamond/GARAIT.ttf') format('truetype');
}

@font-face {
  font-family: 'Alte-DIN-G';
  src: url('fonts/alte-din-1451-mittelschrift/din1451alt-G.ttf') format('truetype');
}

@font-face {
  font-family: 'Alte-DIN';
  src: url('fonts/alte-din-1451-mittelschrift/din1451alt.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular_0';
  src: url('fonts/Lato/Lato-Regular_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid-Italic';
  src: url('fonts/Part_2/droid-serif.italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid-Regular';
  src: url('fonts/Part_2/droid-serif.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid-Bold';
  src: url('fonts/Part_2/droid-serif.bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Part_2/roboto.bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('fonts/Lato/Lato-Light_0.ttf') format('truetype');
}

.Garamond-Bold{
  font-family: 'Garamond-Bold', sans-serif;
}

.Garamond-Regular{
  font-family: 'Garamond-Regular', sans-serif;
}

.Garamond-Italic{
  font-family: 'Garamond-Italic', sans-serif;
}

.Alte-DIN-G{
  font-family: 'Alte-DIN-G', sans-serif;
}

.Alte-DIN{
  font-family: 'Alte-DIN', sans-serif;
}

.Lato-Regular_0{
  font-family: 'Lato-Regular_0', sans-serif;
}

.Droid-Italic{
  font-family: 'Droid-Italic', sans-serif;
}

.Droid-Regular{
  font-family: 'Droid-Regular', sans-serif;
}

.Droid-Bold{
  font-family: 'Droid-Bold', sans-serif;
}

.Roboto-Bold{
  font-family: 'Roboto-Bold', sans-serif;
}

.Lato-Light{
  font-family: 'Lato-Light', sans-serif;
}